# Python basics - sets
- A set is a collection which is unordered, unchangeable*, and unindexed.
- Set items are unchangeable, but you can remove items and add new items.

In [ ]:
# Duplicates not allowed
set1 = {"apple", "banana", "cherry", "apple"}
print(set1)

# True and 1 are treated as the same entry
set2 = {"apple", "banana", "cherry", True, 1, 2}
print(set2)

set3 = {"apple", "banana", "cherry", 1, True, 2}
print(set3)

# True and 1 are treated as the same entry
set4 = {"apple", "banana", "cherry", False, 0, 2}
print(set4)

set5 = {"apple", "banana", "cherry", 0, False, 2}
print(set5)

**Note:** You cannot access items in a set by referring to an index or a key.

In [ ]:
# Looping
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

# Using 'in'
print("banana" in thisset)
print("mango" in thisset)

**Note:** Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
# Adding an element
set1 = {"apple", "banana", "cherry"}
set1.add("orange")
print(set1)

# Adding a set
set2 = {"pineapple", "mango", "papaya"}
set1.update(set2)
print(set1)

# Adding a list
l = ["kiwi", "orange"]
set1.update(l)
print(set1)

In [ ]:
# Removing items using .remove()
fruit = {"apple", "banana", "cherry"}
fruit.remove("banana")
print(fruit)

# Removing items using .discard()
fruit.discard('apple')
print(fruit)

# Removing random items with .pop()
fruit = {"apple", "banana", "cherry", "kiwi", "mango", "orange"}
fruit.pop()
print(fruit)

# Clear the set
fruit = {"apple", "banana", "cherry", "kiwi", "mango", "orange"}
fruit.clear()
print(fruit)

# Delete the set
fruit = {"apple", "banana", "cherry", "kiwi", "mango", "orange"}
del fruit
print(fruit)

In [ ]:
# Joining two sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set4 = set1 | set2
print(set4)

# Joining multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set5 = set1.union(set2, set3, set4)
set6 = set1 | set2 | set3 | set4
print(set5)
print(set6)

# Joining lists and tuples with sets
x = {"a", "b", "c"}
set_y = (1, 2, 3)
list_y = [5, 6, 7]

z_set = x.union(set_y)
z_list = x.union(list_y)
print(z_set)
print(z_list)

**Note:** The '|' operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.